* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #e8e8e8;
}

@media only screen and (max-width: 1300px) {
    html {
      background-color: lightblue;
    }
  }

#nav-bar {
    display: flex;
    text-decoration: none;
    width: 50;
    float: right;
}

#header-img {
    width: auto;
    height: 50px;
}

p {
    margin: ;
}

#Pricing {
    display: flex;
   
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.price_style {
    
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 50px;
    margin-right: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

#features {
    display: flex;
    flex-direction: row;

}

